<div *ngIf="collection != null">
    <mdb-card>
        <mdb-card-img src="http://image.tmdb.org/t/p/w500{{collection.backdrop_path}}" alt="abc "></mdb-card-img>
    </mdb-card>

    <mdb-card>
        <label class="padding_margin"><span>Title:</span>{{collection.original_title}}</label>
        <label class="padding_margin"><span>Release Date:</span>{{collection.release_date}}</label>
        <label class="padding_margin"><span>Status:</span>{{collection.status}}</label>
        <label class="padding_margin"><span>Popularity:</span>{{collection.popularity}}</label>

        <label class="padding_margin"><span>Average Vote:</span>{{collection.vote_average}}</label>
        <label class="padding_margin"><span>Vote Count:</span>{{collection.vote_count}}</label>
        <!-- <label class="padding_margin"><span>Popularity Date:</span>{{collection.popularity}}</label>
        <label class="padding_margin"><span>Popularity Date:</span>{{collection.popularity}}</label>
        <label class="padding_margin"><span>Popularity Date:</span>{{collection.popularity}}</label> -->

        <label class="padding_margin"><span>Language:</span>{{collection.original_language}}</label>
        <label class="padding_margin"><span>Overview:</span>{{collection.overview}}</label>
        <label class="padding_margin"><span>Budget:</span>{{collection.budget}}$</label>

        <label class="padding_margin"><span>Genres:</span><label *ngFor="let item of collection.genres">{{item.name}},
            </label></label>

        <label class="padding_margin"><span>Production Countries:</span><label
                *ngFor="let item of collection.production_countries">{{item.name}}</label></label>
    </mdb-card>

</div>