<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h1>
                    <a class="navbar-brand" href="#">MMovies</a>
                </h1>

                <p>
                    mmovies - Free movies online, here you can watch movies online in high quality for free without annoying of advertising, just come and enjoy your movies online.
                </p>
                <br>
                <p> Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MOVIES</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Action</a>
                    </li>
                    <li>
                        <a href="#!">Adventure</a>
                    </li>
                    <li>
                        <a href="#!">Kungfu</a>
                    </li>
                    <li>
                        <a href="#!">Thriller</a>
                    </li>
                    <li>
                        <a href="#!">Sci-fi</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">COUNTRY</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Pakistani</a>
                    </li>
                    <li>
                        <a href="#!">Indians</a>
                    </li>
                    <li>
                        <a href="#!">United States</a>
                    </li>
                    <li>
                        <a href="#!">United Kingdom</a>
                    </li>
                    <li>
                        <a href="#!">Taiwan</a>
                    </li>
                    <li>
                        <a href="#!">Korea</a>
                    </li>
                    <li>
                        <a href="#!">China</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">HELP</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Request</a>
                    </li>
                    <li>
                        <a href="#!">Blog</a>
                    </li>
                    <li>
                        <a href="#!">Sitemap</a>
                    </li>
                    <li>
                        <a href="#!">DCMA</a>
                    </li>
                    <li>
                        <a href="#!">FAQ</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">MMovies</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->