<!--Navbar-->
<mdb-navbar class="navBar" SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand class="mmovie-link">
        <a mdbWavesEffect (click)="linkClick('MMovies')" class="navbar-brand">MMovies</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item spacer">
                <a class="nav-link" mdbWavesEffect (click)="linkClick('home')">Home<span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- Genres -->
            <li class="nav-item dropdown spacer" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>Genres<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary move_orword" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('movieGenres')">Movies
                        Genres </a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('tvShowGenres')"> Tvs
                        Genres</a>
                </div>
            </li>

            <!-- Movies Dropdown -->
            <li class="nav-item dropdown spacer" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>Movies<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary move_orword" role="menu">
                    <!-- <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('latestMovies')"> Latest</a> -->
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('nowPlayingMovies')">Now
                        Playing </a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('popularMovies')">
                        Popular</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('topRatedMovies')"> Top Rated
                    </a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('upcomingMovies')"> Upcoming
                    </a>
                </div>
            </li>

            <!-- TV Shows Dropdown -->
            <!-- <li class="nav-item dropdown spacer" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>TV Shows<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary move_orword" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect
                        (click)="linkClick('popularTVShows')">Popular</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('topRatedTVShows')">Top
                        Rated</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('airingToday')">TV
                        Airing</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('onTheAir')">On The Air</a>
                </div>
            </li> -->

            <!-- People Dropdown -->
            <!-- <li class="nav-item dropdown spacer" dropdown>
                <a dropdownToggle mdbWavesEffect type="button " class="nav-link dropdown-toggle waves-light "
                    mdbWavesEffect>People<span class="caret "></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary move_orword" role="menu ">
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('latestPeople')">Latest
                        People</a>
                    <a class="dropdown-item waves-light" (click)="linkClick('popularPeople')">Popular People</a>
                </div>
            </li> -->

            <!-- Discover Dropdown -->
            <!-- <li class="nav-item dropdown spacer" dropdown>
                <a dropdownToggle mdbWavesEffect type="button " class="nav-link dropdown-toggle waves-light "
                    mdbWavesEffect>Discover<span class="caret "></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary move_orword" role="menu ">
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="linkClick('discoverMovies')">Movies</a>
                    <a class="dropdown-item waves-light" (click)="linkClick('discoverTVShows')">TV Shows</a>
                </div>
            </!-->

            <!-- <li class="nav-item spacer">
                <a class="nav-link waves-light" mdbWavesEffect (click)="linkClick('tranding')">Tranding</a>
            </li> -->
        </ul>
    </links>
</mdb-navbar>