.main_title {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  padding: 5px 0px;
}

.card_div {
  height: 200px;
  padding: 20px 20px;
  margin: 0px;
}

.card_div mdb-card:hover {
  background: #3f729b8e;
  mdb-card-header {
    background: #3f729b;
    color: white;
    font-size: larger;
    font-weight: bolder;
    width: 100%;
  }
}

.row {
  padding: 0px 5px 0px 5px;
}

.card_div mdb-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_div mdb-card-header {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

// <app-loading-list *ngIf="loading && !data_found_alert"></app-loading-list>

// <!-- NO Data Found Message -->
// <div *ngIf="data_found_alert" class="no_data_found">
//     <h3>Oops! No Data Found.</h3>
//     <p>There may be error with database.</p>
//     <p>Or check your internet connection.</p>
// </div>
// <!-- End NO Data Found Message -->
// <div *ngIf="!loading && !data_found_alert">
//     <mdb-card-title class="main_title">Movies</mdb-card-title>
//     <!-- Genres -->
//     <!-- <div class="row" style="padding-bottom: 100px;">
//         <div *ngFor="let item of collection" class="col-lg-3 col-md-3 col-sm-4 card_div d-flex align-items-stretch">
//             <div class="g_card" (click)="getCollectionBygenre(item)">
//                 <div class="box">
//                     <div class="g_percent">
//                         <svg class="g_svg">
//                             <circle cx="85" cy="85" r="85"></circle>
//                             <circle cx="85" cy="85" r="85"></circle>
//                         </svg>
//                         <div class="g_number">
//                             <h2>{{ item.name }}</h2>
//                         </div>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </div> -->

//     <div class="row" style="padding-bottom: 100px;">
//         <div *ngFor="let item of collection" class="col-lg-2 col-md-3 col-sm-4 card_div"
//             (click)="genresClicked(item.id)">
//             <mdb-card>
//                 <mdb-card-header>{{ item.name }} </mdb-card-header>
//                 <!-- <mdb-card-title>{{ item.id }} </mdb-card-title> -->
//             </mdb-card>
//         </div>
//     </div>

// </div>
