    .navbar-brand {
        padding: 10px 15px 10px 15px;
        border: 2px solid white;
        background: #3f729b;
        color: white;
        border-radius: 5px;
    }
    
    li {
        margin: 0px 10px 0px 10px;
    }
    
    .dropdown a:hover {
        background: #3f729b;
        color: white;
    }
    
    .navbar-nav li:hover {
        background: #5491c2;
    }
    
    .navBar {
        background: #5491c2;
    }