.main_title {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  color: #3f729b;
  padding: 5px 0px;
}
input.search {
  border: 1px solid #3f729b;
}

.input-group-append span {
  background: #3f729b;
}

.abc {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.384);
  color: black;
}

.abc label {
  width: 100%;
  text-align: center;
}

.abc .title {
  font-size: 22px;
  font-weight: bold;
}

.abc .release_date {
  font-size: 16px;
}

mdb-card:hover {
  .abc {
    background: rgba(255, 255, 255, 0.726);
    color: black;
    .title {
      font-size: 26px;
      font-weight: bolder;
    }
    .release_date {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

// Movies List Styles
mdb-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.card_div {
  padding: 1%;
  margin: 0%;
}

.row {
  padding: 0px 5px 0px 5px;
}
