input.search {
    border: 1px solid #3f729b;
}

.input-group-append span {
    background: #3f729b;
}

//no_data_found Styles
.no_data_found {
    margin: 15% 0px 15% 0px;
}

.no_data_found h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_data_found p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

// Movies List Styles
mdb-card {
    margin: 5px;
    width: 100%;
}

.card_div {
    padding: 0%;
    margin: 0%;
}

.row {
    padding: 0px 5px 0px 5px;
}

.textWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.title {
    padding: 0;
    margin: 0;
    text-align: start;
    font-weight: bolder;
}

.title {
    padding: 10px 10px 0px 10px;
}

mdb-card-text {
    padding: 0px 10px 0px 10px;
}

.textWrap {
    margin: 0px 10px 10px 10px;
}

.page-item:hover a {
    background: #3f729b;
    color: white;
}

// Progress Bar
// Progress Bar
.containerr {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.containerr .cardd {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.containerr .cardd:hover {
    transform: translateY(-10px);
}

.containerr .cardd:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 1000;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: rgb(163, 161, 161);
    margin-top: 5px;
    font-size: 12px;
    transition: 0.5s;
}

.cardd:hover .percent .number h2 {
    color: #000000;
    font-size: 16px;
}

.percent .number h2 span {
    font-size: 8px;
    color: rgb(163, 161, 161);
    transition: 0.5s;
}

.cardd:hover .percent .number h2 span {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.textt {
    position: relative;
    color: #777;
    font-size: 10px;
    transition: 0.5s;
    margin: 0px;
}

.cardd:hover .textt {
    color: #000;
    font-weight: bolder;
}

svg {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

svg circle {
    width: auto;
    height: auto;
    fill: none;
    stroke: rgb(238, 230, 230);
    stroke-width: 3;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.cardd:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (123 * 40) / 100);
    stroke: #2020db;
}

.cardd:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (123 * 60) / 100);
    stroke: #b3d613;
}

.cardd:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (123 * 90) / 100);
    stroke: #12aa6b;
}

//
//
////
// Genres Stles
.g_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.g_container .g_card {
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 0;
    width: 250px;
    background: rgb(250, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.g_container .g_card:hover {
    transform: translateY(-20px);
    .g_svg {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.g_container .g_card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.g_percent {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.g_percent .g_number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.g_percent .g_number h2 {
    color: #777;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

.g_card:hover .g_percent .g_number h2 {
    color: #fff;
    font-size: 30px;
}

.g_svg {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 1000;
}

.g_svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 3;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.g_svg circle:nth-child(2) {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}

.g_card:nth-child(1) svg circle:nth-child(2) {
    stroke: #2c96f8;
}