<mdb-carousel class="carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let item of img_collection">
        <div class="view w-100">
            <img class="d-block w-100" style="max-height: 700px;"
                src="http://image.tmdb.org/t/p/w500{{item.backdrop_path}}" alt="First slide">
        </div>

        <!-- (input)="onSearchChange($event.target.value)" -->
        <!-- Search form -->
        <div class="carousel-caption">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control my-0 py-1 search" [(ngModel)]="searchTerm" type="text"
                    (click)="onSearchChange()" placeholder="Search" aria-label="Search">
                <div class="input-group-append search">
                    <span class="input-group-text lighten-3" (click)="onSearchChange()" id="basic-text1"><i
                            class="fas fa-search text-grey" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
</mdb-carousel>